* {
    padding: 0;
    margin: 0;
    outline: 0;
    box-sizing: border-box;
}

#main {
    display: flex;
    justify-content: center
}

body {
    font: 400 14px Roboto, sans-serif;
    background: #f0f0f5;
    -webkit-font-smoothing: antialiased;
}

.centcont {
    display: flex;
    justify-content: center;
}

.title {
    display: block;
    font-weight: bold;
    font-size: 24pt;
    text-align: center;
}

.category {
    display: block;
    font-size: 24pt;
    text-align: center;
}

.game_name {
    display: inline;
    font-size: 14pt;
    margin-left: 12px;
    margin-right: 12px;
    max-width: 200px;
    cursor: pointer;
    background-color: goldenrod;
}

input, button, textarea {
    font: 400 18px Roboto, sans-serif;
}

.field {
    margin-top: 8px;
}

button {
    cursor: pointer;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 8px;
}

.prof-container {
    padding-top: 5px;
    padding-bottom: 5px;
    margin-left: auto;
    margin-right: auto;
    width: 600px;
    display: flex;
    height: 40px;
    justify-content: flex-start;
}

.username {
    font-weight: bold;
    font-size: 14px;
}

.status {
    font-size: 12px;
}

.card.timer {
    border: 2px solid #1e211e;
    padding-top: 6px;
    text-align: center;
    margin-left: 440px;
    right: 4px;
    width: 100px;
    font-size: 12px;
}

.prof-container img {
    width: 30px;
    height: 30px;
    margin-right: 6px;
}

.board {
    width: min-content;
    margin: 0px auto 0;
    border: 10px solid red;
    border-radius: 6px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.square {
    width: 75px;
    height: 75px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.piece {
    width: 75px;
    height: 75px;
}

.black {
    --black-r: 119;
    --black-g: 76;
    --black-b: 59;
    --black-intense-r: 200;
    --black-intense-g: 126;
    --black-intense-b: 149;
    background: rgba(var(--black-r), var(--black-g), var(--black-b), 1);
}

.black.last-move {
    background-color: rgba(var(--black-r), var(--black-intense-g), var(--black-b), 1);
}

.black.blunder {
    background-color: rgba(var(--black-intense-r), var(--black-g), var(--black-b), 1);
}

.black.perfect {
    background-color: rgba(var(--black-r), var(--black-g), var(--black-intense-b), 1);
}

.white {
    --white-r: 201;
    --white-g: 148;
    --white-b: 104;
    --white-intense-r: 255;
    --white-intense-g: 198;
    --white-intense-b: 184;
    background: rgba(var(--white-r), var(--white-g), var(--white-b), 1);
}

.white.last-move {
    background-color: rgba(var(--white-r), var(--white-intense-g), var(--white-b), 1);
}

.white.blunder {
    background-color: rgba(var(--white-intense-r), var(--white-g), var(--white-b), 1);
}

.white.perfect {
    background-color: rgba(var(--white-r), var(--white-g), var(--white-intense-b), 1);
}

.button {
    margin-left: 8px;
    margin-right: 8px;
    margin-bottom: 8px;
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: block;
    width: 120px;
    font-size: 16px;
}

.modal .button {
    height: 50px;
}

.button.blunder {
    background-color: #e54b7e; /* Green */
}

.button.perfect {
    background-color: #027074; /* Green */
}

.button.perfect-disabled {
    background-color: #02707466; /* Green */
}

.button.normal {
    background-color: #8e9206; /* Green */
}

.actionbar {
    display: flex;
    align-items: center;
    margin-top: 45px;
    height: 600px;
}

.actionbar.left {
    margin-right: 8px;
}

.actionbar.right {
    margin-left: 8px;
}

.log {
    width: 600px;
    margin-top: 16px;
    margin-left: auto;
    margin-right: auto;
}

.w3-strip-white {
    display: none;
    border-radius: 5px;
    color:#000!important;background-color: #ffffff !important
}

.w3-strip-black {
    border-radius: 5px;
    color:#000!important;background-color: #000000 !important
}